
body{
    margin: 0;
    padding: 0;
}


#main-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}


.sidebar{
    background-color: lightblue;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.popUp{
    position: fixed;
    top: 50%;
    left: 58.5%;
    transform: translate(-50%, -50%);
    z-index: 1000;


    display: none;

}

.popUp.active{

    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    gap: 10px;

}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sidebar,
.content{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.todoDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;

}


.descInput{
    resize: none;
    display: flex;
    flex-grow: 1;
}

.titleInput{
    resize: none;
}

/*.btnDiv{
    display: flex;
    justify-content: space-between;
}*/

.todoItemDiv{
    height: 250px;
    width: 250px;
    border: lightblue solid 1px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);


    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoItemDiv:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
}

.todoItemDivTitle{
    flex-grow: 1;
}

